.home {
  display: flex;

  .home-container {
    flex: 6;

    .widgets,
    .charts {
      padding: 1.2em;
      display: flex;
      gap: 1.2rem;
    }

    .charts {
      padding: 0.3em 1.2em;
    }
  }
}
